@import url("components/select-qr.css?v=11");
@import url("components/qrg-header.css?v=12");
@import url("components/mobile-mockup.css?v=22");
@import url("components/bottomBar.css?v=12");
@import url("components/sidebar-menu.css?v=10");
@import url("components/website-form.css?v=11");
@import url("components/design-2-color.css?v=12");
@import url("components/design-1-color.css?v=10");
@import url("components/design-3-color.css?v=10");
@import url("components/opeaning-hours.css?v=13");
@import url("components/social-icons.css?v=11");
@import url("components/location.css?v=10");
@import url("components/contact-information.css?v=10");
@import url("components/fonts.css?v=12");
@import url("components/welcome-screen.css?v=10");
@import url("components/video.css?v=11");
@import url("components/upload-block.css?v=11");
@import url("components/info-block.css?v=10");
@import url("components/coupon.css?v=10");
@import url("components/business.css?v=12");
@import url("components/links.css?v=10");
@import url("components/app-qr.css?v=10");
@import url("components/vcard.css?v=11");
@import url("components/qr-step3.css?v=15");
@import url("components/wifi.css?v=10");
@import url("components/menu.css?v=10");
@import url("components/funnel.css?v=11");
@import url("components/rtl.css?v=1");
@import url("components/social-media.css?v=1");



/* @import url('components/website-form.css'); */
