* {
  font-family: "Poppins", system-ui, sans-serif !important;
}

.qci-register-nsf.section-login-signup {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.qci-register-nsf.section-login-signup .sign-up-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 25px 16px 50px 16px;
}
.section-login-signup .-main-cols{
  /* background-color: transparent; */
}
/* body:not(.dpfmainwrapper) nav.qci.section-navbar:not(.qci-download-menu) {
  display: none;
} */

nav.qci.section-navbar {
  position: static;
}

/* .section-navbar .-logo > img {
  width: 212.36px;
} */

.sign-up-box {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(6, 28, 61, 0.1);
  border-radius: 4px;
}

.sign-up-box-title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  text-wrap: wrap;
  letter-spacing: -0.05em;
}

.sign-up-box-label {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  text-wrap: wrap;
  margin-top: 14px;
}

.sign-up-box .left-panel {
  flex: 1;
  max-width: 526px;
  box-shadow: 0px 0px 25px rgba(6, 28, 61, 0.1);
  padding: 48px 24px 75px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.sign-up-box .sign-up-box-input-container {
  margin-top: 30px;
}

.sign-up-box form .-form-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(78, 93, 120, 0.2);
  border-radius: 7px;
}

.sign-up-box form .divider {
  height: 24px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}
input.nfs-email,
.sign-up-box form input:not([type]),
.sign-up-box form input[type="text"],
.sign-up-box form input[type="password"] {
  padding: 14px;
  flex-grow: 1;
  border: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(131, 142, 158);
  border-radius: 7px;
  width: 0;
  min-width: 0;
}

.sign-up-box form .-btn-submit {
  border-radius: 7px;
  margin-top: 15px;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
}

.sign-up-box .or-text {
  color: rgb(78, 93, 120);
  margin-top: 16px;
  margin-inline: 10px;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.sign-up-box .or-text span {
  margin-top: 16px;
  background-color: #ffffff;
  padding-inline: 10px;
  z-index: 2;
  position: relative;
}

.sign-up-box .or-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(78, 93, 120, 0.2);
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  z-index: 0;
}

.sign-up-box .social-sign-up-container {
  margin-top: 16px;
  margin-right: 18px;
  margin-left: 18px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.sign-up-box .social-sign-up-container .btn-social {
  border: 1px solid rgba(78, 93, 120, 0.2);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #131d29;
  cursor: pointer;
  height: 52px;
}

.sign-up-box .social-sign-up-container .btn-social img {
  height: 24px;
  width: 24px;
}

.sign-up-box .right-panel {
  flex: 1;
  max-width: 526px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}

.sign-up-box .right-panel .qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 328px;
}

.sign-up-box .right-panel .qr-code-container .qr-code {
  height: 243px;
  width: 243px;
  object-fit: contain;
}

.sign-up-box .right-panel .features {
  padding: 38.75px 24px;
  max-width: 526px;
}

.sign-up-box .right-panel .features-list-title {
  font-size: 18px;
  font-weight: 600;
}

.sign-up-box .right-panel .features .divider {
  margin-top: 8px;
  height: 2px;
  width: 100%;
  background-color: rgb(20, 160, 238);
  border-radius: 4px;
}

.sign-up-box .right-panel .features .features-list {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.sign-up-box .right-panel .features .features-list li {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start;
  letter-spacing: -0.05em;
}

/* ----------nfs-login-model------------- */

.nsflogin-model-content {
  padding: 0px 20px 20px !important;
  max-width: 450px !important;
}

.nsflogin-model-content .modal-img {
  padding: 0 5px !important;
}

.nsflogin-model-content .modal-img p {
  margin-bottom: 20px;
}

.nsf-model-btn-wrap {
  justify-content: center;
  padding-top: 20px !important;
}

.nfs-login-btn {
  padding: 15px 13px;
  width: 250px !important;
  min-width: unset;
  font-size: 18px;
  height: 56px;
  font-weight: 700;
}

.nfs-login-btn:hover {
  color: #fff !important;
}

.nfs-model-close {
  position: absolute;
  top: 13px;
  right: 14px;
}

.nfs-model-close:focus {
  box-shadow: none;
}

.nsflogin-model-content .modal-header {
  border-bottom: none !important;
}

.nsf-login-modal-text {
  font-size: 16px !important;
}

.nsf-login-img {
  width: 275px;
  max-width: 275px;
  height: auto;
  margin-left: 37px;
}

@media (max-width: 576.98px) {
  .nsf-header {
    position: fixed !important;
    top: 0px;
    background-color: #fff;
  }
}
@media (max-width: 767.98px) {
  .section-navbar .-logo > img {
    width: 180px;
  }
}

/* ----------nfs-login-model end------------- */

@media (max-width: 361px) {
  .sign-up-box {
    max-width: 320px !important;
  }
}

@media (max-width: 480px) {
  .sign-up-box {
    max-width: 350px;
  }
}

@media (min-width: 900px) {
  nav.qci.section-navbar {
    border-bottom: initial;
    padding-top: 29px;
    padding-bottom: unset;
  }

  .qci-register-nsf.section-login-signup .sign-up-box-container {
    align-items: flex-start;
  }

  .qci-register-nsf .sign-up-box {
    flex-direction: row;
  }

  .qci-register-nsf .sign-up-box .left-panel {
    padding: 48px 69px 75px 69px;
    max-width: 50%;
  }

  .sign-up-box .right-panel .features {
    padding: 38.75px 78.25px;
  }
}

@media (min-width: 1088px) {
  .sign-up-box-title {
    font-size: 27px;
  }

  nav.qci.section-navbar {
    display: block;
  }
}
@media (max-width: 1199.5px) {

  .section-login-signup.plan-dpf-main-wrapper.register-wrapper.qci .container{
    box-sizing: border-box;
  }
  .section-login-signup.qci .section-email-feature .feature-detail .item-description{
      margin-bottom: 0;
  }
  .section-login-signup.qci .section-email-feature .feature-detail {
    margin-bottom: 8px;
  }
  .section-login-signup.qci .section-email-feature .feature-detail .detail .feature-icon-area{
    display: flex;
    align-items: center;
  }
  .section-login-signup.qci .section-email-feature .feature-detail .detail{
    align-items: center;
  }
}
.section-login-signup.qci .-main-cols{
  background-color: transparent;
}