@import url(components/solidgate-skeleton.css?v=1);
/* -------pay-update-header-start-------- */

.pay-update-header{
    max-width: 90% !important;
}

.pay-update-header .-login-signup{
    display: none;
}

.pay-update-header .nav-links{
    display: none;
}

.pay-update-container .plan-name:not(:lang(en)){
    display: inline-flex;
    max-width: 240px;
    font-size: 17px !important;
    line-height: 0.9;
}

.pay-update-container .plan-name-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------pay-update-header-end-------- */
/* body:has(.pay-update-header),
.section-navbar:has(.pay-update-header) {
    background-color: #F5F8FB !important;
}

.pay-update-container{
    background-color: #F5F8FB;
} */

.pay-update-container .bill-detail{
    margin-left: 60px;
    margin-right: 60px;
    padding: 0px;
}

.pay-update-container .bill-detail .triel{
    padding: 5px 30px 5px 30px;
    border-radius: 8px;
}

.pay-update-container .bill-detail .triel .triel-icon{
    padding: 0px;
}

.pay-update-container .bill-detail .triel .description-wrp .triel-des{
    display: flex;
    place-content: center;
}

.pay-update-container .bill-detail .triel .description-wrp .triel-des .bil-des{
    font-size: 18px;
    margin: 0px !important;
    font-weight: 500 !important;
}

.update-payment-full-wrap .update-payment-heading .pay-update-header-text{
    text-align: center;
    font-weight: 600;
    font-size: 55px;
}

.update-payment-full-wrap .update-payment-heading{
    padding: 10px 0px;
    margin-bottom: 15px;
}

.update-payment-wrap{
    /* border: 2px solid red; */
    background-color: #fff;
    padding: 20px 15px;
    margin: 0px 60px;
    border-radius: 10px;
    box-shadow: -7.5px 4px 21.5px 16px #e8ecee;
}

@media (max-width: 575.99px){
    .btn-subscription-edit span.icon-edit{
        margin-right: 0rem !important;
      }
}

@media (max-width: 575.98px) { 
  
    .btn-subscription-edit-login{
      display: none !important;
    }

}

.update-payment-full-wrap .payment-subhead,
.update-payment-full-wrap .purchase-plan-heading,
.update-payment-full-wrap .purchase-type-wrap{
    display: block;
}

@media (max-width: 1599.98px) and (min-width:960px){
    .btn-subscription-edit span.icon-edit{
      margin-right: 0 !important;
    }

    .pay-update-container .btn-subscription-edit span.icon-edit{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0px;
    }

    .btn-subscription-edit span.edit-btn-text{
      display: none;
    }
    #editSubBtn{
      padding: 3px 8px !important;
      font-size: 17px;
    }
  
  }

.update-payment-full-wrap .update-payment-wrap .pay-update-hr{
    color: #0000005e;
}

.update-payment-full-wrap .update-payment-wrap .stripe-update-hr{
    width: 98%;
    margin: 10px auto;
}

.update-payment-full-wrap .pay-update-btn{
    padding: 8px;
    font-size: 17px;
}

.update-payment-full-wrap .purchase-package-wrap{
    padding: 10px 16px;
}

.update-payment-full-wrap .pay-hr{
    margin: 10px 0px !important;
}

.update-payment-full-wrap .purchase-description .pack-detail-icon span > i::after{
content: "\e91a";
    font-family: qr-icons !important;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
    padding: 5px;
    margin-left: 0px;
}

.update-payment-full-wrap .purchase-description .pack-detail-icon span>i{
    background-color: var(--brand-color-primary);
    /* border: 1px solid red; */
    border-radius: 100%;
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
}

.update-payment-full-wrap .purchase-pack-all-deatil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-payment-full-wrap .purchase-type-area{
    margin-top: 0px;
}

.update-payment-full-wrap .payment-detail-area{
    padding-bottom: 0px !important;
}

.update-payment-full-wrap .payment-detail-area{
    width: 100%;
    padding-top: 0px !important;
}

.pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-name{
    font-size: 19px;
}

.pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-price{
    font-size: 19px;
}

@media(max-width:1399.98px){
    .pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-name {
        font-size: 18px;
    }

    .pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-price {
        font-size: 18px;
    }
}

@media(max-width:1299.98px){
    .pay-update-header {
            max-width: 95% !important;
    }

    .pay-update-container .bill-detail {
        margin-left: 30px;
        margin-right: 30px;
        padding: 0px;
    }

    .update-payment-wrap {
        margin: 0px 30px;
    }

    .update-payment-wrap .update-pay-left{
        width: 55%;
    }

    .update-payment-wrap .update-pay-right {
        width: 45%;
    }
}

@media(max-width:1199.98px) {
    .pay-update-container{
        margin-top: 80px;
    }

    .pay-update-container .bill-detail .triel .description-wrp .triel-des .bil-des {
        font-size: 16px;
        margin: 2px 0;
    }

    .update-payment-full-wrap .update-payment-heading .pay-update-header-text {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1499.98px) and (min-width: 1259.98px) {
    .pay-update-container .other-currency-purchase-plan .plan-name-wrap .plan-name{
        font-size: 17px;
    }

    .pay-update-container .other-currency-purchase-plan .plan-price-plan .plan-price {
        font-size: 17px;
    }
}
@media only screen and (max-width: 1099.98px) and (min-width: 960px) {
    .pay-update-container .plan-name:not(:lang(en)) {
        max-width: 170px;
    }
}

@media only screen and (max-width: 1349.98px) and (min-width: 960px) {
    .pay-update-container .purchase-plan-price{
        position: relative;
    }

    .pay-update-container .plan-name-wrap{
        display: flex;
    }

    .pay-update-container .plan-name{
        position: relative;
        top: -15px;
        /* left: -24px; */
    }

    .pay-update-container .plan-price-plan{
        position: absolute;
        left: 57px;
        bottom: -3px;
    }

    .pay-update-container .btn-subscription-edit {
        height: 40px;
    }

    .pay-update-container .plan-name:not(:lang(en)) {
        font-size: 16px !important;
    }

}

@media only screen and (max-width: 1349.98px) and (min-width: 960px) {
    .pay-update-container .other-currency-purchase-plan {
        flex-direction: column;
    }

    .pay-update-container .other-currency-purchase-plan .plan-name-wrap,
    .pay-update-container .other-currency-purchase-plan .plan-price-plan {
        width: 100%;
    }

    .pay-update-container .other-currency-purchase-plan .plan-price-plan .plan-price {
        text-align: left;
    }
}

@media only screen and (max-width: 1039.98px) and (min-width: 960px) {
    .pay-update-container .other-currency-summery .summery-heading {
        font-size: 20px;
    }

    .pay-update-container .other-currency-summery .summery-price-head {
        font-size: 18px;
    }

}

@media(max-width:1099.98px){
    .pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-name {
        font-size: 17px;
    }
    
    .pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-price {
        font-size: 17px;
    }
}

@media(max-width:959.98px){
    .update-payment-wrap .update-pay-left {
        width: 100%;
    }
    
    .update-payment-wrap .update-pay-right {
        width: 100%;
    }
}

@media(max-width:959.98px){
    .pay-update-header {
        max-width: 99% !important;
    }

    .pay-update-container .bill-detail {
        margin-left: 0px;
        margin-right: 0px;
    }

    .update-payment-wrap {
        margin: 0px 0px;
        margin-bottom: 15px;
    }

    .pay-update-container {
        padding: 1px 15px !important;
    }
}

@media(max-width:767.98px){
    .update-payment-full-wrap .update-payment-heading .pay-update-header-text {
        font-size: 36px;
    }
}

@media(min-width:575px){
    .desktop-purchase-package{
        display: block !important;
    }
}

@media(max-width:575.98px){
    .btn-subscription-edit span.edit-btn-text{
        display: none;
    }

    .desktop-purchase-package{
        display: none !important;
    }

    #editSubBtn{
    padding: 3px 8px !important;
    font-size: 17px;
    }

    .btn-subscription-edit span.icon-edit{
        margin-right: 0 !important;
    }

    .pay-update-container .bill-detail .triel .description-wrp .triel-des .bil-des {
        font-size: 14px;
        margin: 0px 0;
    }

    .update-payment-wrap {
        padding: 0px 0px 20px 0px;
    }

    .update-payment-full-wrap .update-payment-heading .pay-update-header-text {
        font-size: 25px;
    }

    .pay-update-container .triel .description-wrp {
        padding-bottom: 0px;
        align-items: center;
    }

    .pay-update-container .bill-detail .triel {
        padding: 5px 5px 5px 10px;
    }

    .update-payment-full-wrap .purchase-package-info-wrap .purchase-package-info {
        background-color: var(--white);
        border-radius: 5px;
        padding: 15px 10px;
    }

    .pay-update-container .bil-des br{
        display: none !important;
    }

    .update-payment-full-wrap .pay-update-btn-wrap{
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 10;
        box-shadow: 1px -3.5px 17px 2.5px #e8ecee;
    }

    .pay-update-container .update-payment-full-wrap{
        margin-bottom: 80px;
    }

    .update-payment-full-wrap .update-pay-left{
        padding-top: 15px !important;
    }

    .pay-update-container .purchase-icon{
        border: 1px solid #0d6efd;
    }

    .pay-update-container .purchase-icon span{
        color: #0d6efd;
    }

    .pay-update-container .update-payment-wrap{
        flex-direction: column-reverse;
    }

    .pay-update-container .plan-name-wrap{
        width: auto !important;
    }
    /* .pay-update-container .payment-subhead,
    .pay-update-container .purchase-package-info-wrap{
        display: none;
    } */

    .pay-update-container .purchase-package-wrap{
        background-color: var(--white);
    }
}

@media(max-width:424.98px){
    .pay-update-container .other-currency-summery .summery-heading{
        font-size: 20px;
    }

    .pay-update-container .other-currency-summery .summery-price-head {
        font-size: 18px;
    }
}

@media(max-width:388.98px) {
    .update-payment-full-wrap .update-payment-heading .pay-update-header-text {
        font-size: 23px;
    }
}

@media(max-width:354.98px){
    .pay-update-container .other-currency-summery .update-summery-heading {
        flex: 0 0 auto;
        width: 38%;
    }

    .pay-update-container .other-currency-summery .total-wrp{
        flex: 0 0 auto;
        width: 60%;
    }

}

.bil-des .bil-des1 .exp-error {
  height: 100%;
  display: flex;
  align-items: center;
}

.purchase-package-wrap {
    background-color: var(--field-wrap-bg);
    padding: 20px 16px 5px 16px;
    border-radius: 10px;
}

.purchase-package-wrap .purchase-package-detail{
    background-color: white;
    border-radius: 10px;
    padding: 12px 7px 12px 0px;
}

.payment-detail-area .plan-name-wrap{
    margin-right: 0;
    margin-right: auto;
}

.payment-detail-area .plan-name-wrap .plan-name{
    padding-left: 8px;
}

@media(max-width:575.5px){
    .pay-update-container .update-payment-full-wrap .purchase-plan-price .plan-name{
        position: relative;
        top: -10px;
        left: 5px;
    }
    .purchase-plan-price > div:last-child{
        margin-left: 61px;
        width: max-content;
        position: absolute;
        display: inline-flex;
        top: 24px;

    }

    .payment-detail-area .plan-name-wrap .plan-name{
        padding-left: 0px;
    }

    .purchase-plan-price{
        position: relative;
    }
    .plan-price-plan{

    }
}

@media(max-width:450px){
    .payment-detail-area .plan-name-wrap {
        position: relative;

    }
    .btn-subscription-edit {
        position: absolute;
        right: 5px;
        top: 25px;

    }
    .btn-subscription-edit span {
        color: #ffffff !important;
        font-size: 14px !important;
    }

    #editSubBtn {
        padding: 0px 6px !important;
        font-size: 17px;
    }
}



